body {
    font-family: 'Manjari', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Aubrey', cursive;
    font-family: 'Averia Gruesa Libre', cursive;
    font-family: 'Baloo Bhaijaan', cursive;
    font-family: 'Baloo Chettan', cursive;
}

h1 {
    text-align: center;
}
