/*
used https://codingislove.com/css-speech-bubbles/ for speech bubbles
*/


@media only screen and (max-width: 600px) {
    #chat {
        width: 100%;
        margin: 0;
    }
}

@media only screen and (min-width: 600px) {
    #chat {
        width: 90%;
        margin: 20px;
    }
}

@media only screen and (min-width: 700px) {
    #chat {
        width: 85%;
    }
}

@media only screen and (min-width: 800px) {
    #chat {
        width: 75%;
    }
}

@media only screen and (min-width: 900px) {
    #chat {
        width: 70%;
    }
}

@media only screen and (min-width: 1000px) {
    #chat {
        width: 62%;
    }
}

@media only screen and (min-width: 1100px) {
    #chat {
        width: 55%;
    }
}

@media only screen and (min-width: 1200px) {
    #chat {
        width: 40%;
        max-width: 40vh;
    }
}

#chat {
    min-height: 150px;
    max-height: 80vh;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 0;
    flex-direction: column;
    align-items: flex-end;
    display: none;
    overflow: hidden;
}

#chat form {
    border-top: black solid;
    width: 100%;
    padding: 5px;
    align-self: center;
    background-image: url("/styles/backgrounds/woodgrain004.jpg");
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#chat form input {
    border: solid black;
    border-radius: 3px;
    border-width: 2px;
    margin: 5px;
    width: calc(100% - 80px);
}

#chat form button {
    width: 80px;
    /* border: solid black;
    border-radius: 3px;
    color: black;
    border-width: 2px; */
    margin: 5px;
    margin-left: 0;
    align-self: flex-end;
}


#messages {
    list-style-type: none;
    margin-top: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 100%;
    align-self: stretch;
}



li {
  margin: 5px auto;
  padding: 2px;
  position:relative;
  border-radius: 4px;
  padding: 5px;
  max-width: 90%;
  word-wrap: normal;
  white-space: normal;
}

li.mine {
    margin-right: 10px;
    float: right;
    clear: both;
    background-color: #00688B;
    color: white;
}

.mine:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 5px solid #00688B;
  border-right: 5px solid transparent;
  border-top: 5px solid #00688B;
  border-bottom: 5px solid transparent;
  right: -10px;
  top: 3px;
}

li.yours {
    margin-left: 10px;
    float: left;
    clear: both;
    background-color: #bbbaac;
    color: black;
}

.yours:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid #bbbaac;
  border-top: 5px solid #bbbaac;
  border-bottom: 5px solid transparent;
  left: -10px;
  top: 3px;
}
