#colors {
    margin: 10px;
}

#customize-board-popup {
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
}

#backgrounds {
    display: inline-grid;
    grid-template-rows: 0.8fr 0.8fr;
    grid-template-columns: 0.8fr 0.8fr 0.8fr;
    column-gap: 10px;
    row-gap: 10px;
}

button.background-select {
    height: 100px;
    width: 100px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    background: none;
    justify-self: center;
}

button.background-select img {
    height: 100%;
    width: 100%;
}
