#customize-board-popup {
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
}

#backgrounds {
    display: inline-grid;
    grid-template-rows: 0.8fr 0.8fr;
    grid-template-columns: 0.8fr 0.8fr 0.8fr;
    column-gap: 10px;
    row-gap: 10px;
}

#colors {
    margin: 10px;
}

button.background-select {
    height: 100px;
    width: 100px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    background: none;
    justify-self: center;
}

button.background-select img {
    height: 100%;
    width: 100%;
}

/* #background001 {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}

#background002 {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}

#background003 {
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}

#background004 {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
}

#background005 {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
}

#background006 {
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
} */
