@media only screen and (max-width: 310px) {
    h1 {
        font-size: 150%;
    }

    h2 {
        font-size: 130%;
    }

    /* #menu {
        width: 100%;
    } */

    label {
        font-size: 125%;
    }

    input, select, radio {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 310px) {
    h1 {
        font-size: 190%;
    }
    /* #menu {
        width: 100%;
    } */

    label {
        font-size: 135%;
    }

    input, select, radio {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 400px) {
    /* #menu {
        width: 90%;
    } */

    label {
        font-size: 145%;
    }

    h1 {
        font-size: 250%;
    }

    h2 {
        font-size: 190%;
    }

    input, select, radio {
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 500px) {
    /* #menu {
        width: 75%;
    } */
    label {
        font-size: 155%;
    }

    input, select, radio {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 800px) {
    h1 {
        font-size: 270%;
    }

    h2 {
        font-size: 210%;
    }

    label {
        font-size: 175%;
    }

    input, select, radio {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 300%;
    }

    h2 {
        font-size: 240%;
    }

    label {
        font-size: 190%;
    }

    input, select, radio {
        margin-bottom: 20px;
    }
}




#board-container {
    width: 100%;
    max-width: 80vh;
    display: none;
}


body {
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Roboto Slab', serif;
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Raleway', serif;
}

button {
    border-style: solid;
    border-color: black;
    border-radius: 3px;
    border-width: 2px;
    color: black;
    padding: 3px;
    margin-bottom: 5px;
}

button:hover, button:focus {
    color: white;
    background-color: black;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 90vh;
    padding-bottom: 10px;
}


h1, h2 {
    text-align: center;
}

h1 {
    margin-bottom: 15px;
}

h2 {
    margin-top: 5px;
}

input[type="text"], textarea {
    max-width: 85%;
    display: block;
}

#join-game {
    margin: 10px 20px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 10px;
    /* max-width: 500px; */
    max-width: 100%;
}

#menu {
    margin-left: auto;
    margin-right: auto;
    /* width: 900px; */
    width: 100%;
    max-width: 1200px;
    /* align-self: center; */
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
}

#new-game {
    margin: 10px 20px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 10px;
    /* max-width: 500px; */
    max-width: 100%;
}

#new, #join {
    display: block;
    width: 110px;
    margin-left: auto;
    margin-right: auto;
}
