@media only screen and (max-width: 315px) {

    #content {
        width: 100%;
    }

    #menu {
        width: 100%;
    }

    h1 {
        font-size: 200%;
    }

    h2 {
        font-size: 150%;
    }

    label {
        font-size: 88%;
    }

}

@media only screen and (min-width: 315px) {

    #content {
        width: 100%;
    }

    #menu {
        width: 100%;
    }

    h1 {
        font-size: 200%;
    }

    h2 {
        font-size: 150%;
    }

    label {
        font-size: 98%;
    }

}

@media only screen and (min-width: 360px) {

    label {
        font-size: 115%;
    }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 400px) {

    #content {
        width: 100%;
    }

    #menu {
        width: 97%;
    }

    h1 {
        font-size: 210%;
    }

    h2 {
        font-size: 155%;
    }

    label {
        font-size: 120%;
    }

}

@media only screen and (min-width: 500px) {

    #content {
        width: 97%;
    }

    #menu {
        width: 95%;
    }

    h1 {
        font-size: 215%;
    }

    h2 {
        font-size: 160%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    #content {
        width: 90%;
    }
}

/* Small devices, mid point */
@media only screen and (min-width: 700px) {

    #menu {
        width: 90%;
    }

    h1 {
        font-size: 220%;
    }

    h2 {
        font-size: 165%;
    }

    label {
        font-size: 125%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    #content {
        width: 80%;
    }
}

@media only screen and (min-width: 850px) {

    #menu {
        width: 80%;
    }

    h1 {
        font-size: 230%;
    }

    h2 {
        font-size: 170%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    #content {
        width: 70%;
    }

    h1 {
        font-size: 235%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    #menu {
        width: 70%;
        max-width: 800px;
    }

    h1 {
        font-size: 245%;
    }

    h2 {
        font-size: 175%;
    }

    label {
        font-size: 130%;
    }
}

#board-container {
    width: 100%;
    max-width: 85vh;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'Roboto Mono', monospace;
    /* font-family: 'Roboto Slab', serif;
    font-family: 'Quicksand', sans-serif; */
}

h1, h2 {
    text-align: center;

}

input[type="text"], textarea {
    max-width: 85%;
    display: block;
}

#content {
    margin-left: auto;
    margin-right: auto;
}

#menu {
    margin-left: auto;
    margin-right: auto;
}

#new-game {
    border-style: solid;
    border-color: blue;
    margin: 5%;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 2%;
}

#join-game {
    border-style: solid;
    border-color: purple;
    margin: 5%;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 2%;
}
